version: '3'

services:
  ui:
    build:
      context: .
      dockerfile: Dockerfile.ui
    image: chainlog-ui
    container_name: chainlog-ui
    environment:
      CHECKSUM_CONTAINER_NAME: checksum
    ports:
      - "0.0.0.0:8080:80/tcp"
    volumes:
      - ./api:/usr/share/nginx/html/api
  logger:
    build:
      context: .
      dockerfile: Dockerfile.logger
    image: chainlog-logger
    container_name: chainlog-logger
    environment:
      INFURA_KEY: $INFURA_KEY
      GITHUB_TOKEN: $GITHUB_TOKEN
      CHAINLOG_REPO: "makerdao/chainlog-ui"
      PYTHONUNBUFFERED: 1
    volumes:
      - ./api:/usr/app/src/api
  checksum:
    build:
      context: .
      dockerfile: Dockerfile.checksum
    image: chainlog-checksum
    container_name: chainlog-checksum
    environment:
      PYTHONUNBUFFERED: 1s
