replicaCount: 1
service:
  name: chainlog-ui
  port: 80
  type: ClusterIP
  containerPort: 80
  tls:
    enabled: true
    issuerName: cloudflare
image:
  repository: 068992353948.dkr.ecr.eu-central-1.amazonaws.com/chainlog-ui-staging
  pullPolicy: IfNotPresent
  tag: staging
serviceAccount:
  create: false
ingress:
  enabled: true
  host: chainlog-staging-k8s.makerdao.com
podAnnotations:
  reloader.stakater.com/auto: "true"
resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 60
env:
  CHECKSUM_CONTAINER_NAME:
    type: kv
    value: "localhost"
